@import url("http://fonts.googleapis.com/css?family=Goudy+Bookletter+1911:regular&v1");
@import url("http://fonts.googleapis.com/css?family=Terminal+Dosis+Light:regular&v1");

#container {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	font-family: 'Terminal Dosis Light', serif;
    font-size: 88px;
    font-weight: 700;
    line-height: 1.2;
}

a {
	text-decoration: none;
	color: black;
}
a:hover { 
	border-bottom-style: solid;
	border-bottom-width: 5px; 
}

#poem {
	font-family: 'Goudy Bookletter 1911', serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 1.2;
}
